* {
    box-sizing: border-box;
    /* margin: 0; */
}

.body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stripe {
    padding: 1rem;
    width: 20rem;
    max-width: 90%;
    display: flex;
}

.stripe-red {
    background-color: #ff0000;
}

.stripe-white {
    background-color: #ffffff;
}

.stripe-green {
    background-color: #00cc47;
}

.title {
    display: flex;
    justify-content: center;
}

.data__table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data, .player {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}

.data__coach, .data__rank, .data__group {
    display: flex;
}

.player__name--title, .player__position--title, .player__club--title {
    display: flex;
    font-weight: 600;
}
.data__coach--title, .data__rank--title, .data__group--title {
    display: flex;
    font-weight: 600;
}

.subTitle {
    display: flex;
    font-weight: 600;
    padding-left: 10%;
}
